$main-dark-bg: #202124;

$light-dark-bg: #202124;
$side-dark: #202124;
$song-dark-bg: #fff;
$player-dark-bg: rgb(238, 238, 237);

$primary-color: #65b37c;
$gray-color: #dedede;
$heading-color: #888b97;
$body-text-color: #888b97;

@mixin maxWidth($width) {
	@media screen and (max-width: $width) {
		@content;
	}
}
