$main-dark-bg: #202124;
// $main-dark-bg: #14182a;
// $light-dark-bg: #0e1d30;
$light-dark-bg: #202124;
// $side-dark: #1b2039;
$side-dark: #202124;
$song-dark-bg: #fff;
// $player-dark-bg: #17273e;
$player-dark-bg: rgb(238, 238, 237);

// $primary-color: #ff553e;
$primary-color: #65b37c;
$gray-color: #dedede;
// $heading-color: #aebed3;
$heading-color: #888b97;
$body-text-color: #888b97;

@mixin maxWidth($width) {
	@media screen and (max-width: $width) {
		@content;
	}
}
